

.img{
	max-width:100%;
	height:auto;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    display:block;
    border: 1px solid #000000;
}



@media (min-width: 768px) and (max-width: 991px) {


	.wrapper{
		width:100%;
	}
	#content{
		width:65%;
		margin-right:2%;
	}
	#sidebar{
		width:33%;
	}

	
	
}













/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
#nav{
	display: none;
}
.wrapper{
		width: 100%;
	}
#content{
	width:100%;

}
#sideber{
	width:100%;
}
		
#imgp_wrap img{
	width:90%;
	height: auto;
}
	
#heder{
	text-align: center;
}
#content img{
	width: 99%;
}	
#content figure {
	width: 99%;
}	




}










/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	

	.wrapper{
		width: 100%;
	}
#content{
	width:100%;

}
#sideber{
	width:100%;
}
#content figure {
	width: 99%;
}

#content img{
	width: 99%;
}	
	

	
	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
		.wrapper{
			width: 100%;
		}
	#content{
		width:100%;
	
	}
	#sideber{
		width:100%;
	}
	#content img{
		width: 75%;
	}	
		
	
	

	
	
}